<template>
    <div class="meter-bar-component">
        <h2>Number of quotes</h2>
        <div class="meter-bar-container">
            <div v-if="numOfQuotes > 0" class="meter-bar" :style="{width:getMeterWidth()}">{{ numOfQuotes }} / {{ maxQuotes }}</div>
            <p v-else class="no-quotes">No quotes</p>
        </div>
    </div>
</template>

<script>
export default {
    props: [
        'numOfQuotes',
        'maxQuotes'
    ],
    methods: {
        getMeterWidth(){
            return ((this.numOfQuotes / this.maxQuotes) * 100) + '%';
        }
    }
}
</script>

<style scoped>
.meter-bar-component {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.meter-bar-container {
    background-color: #dddddd;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    border-radius: 10px;
}
.meter-bar {
    background-color: #0652DD;
    color: #ffffff;
    padding: 10px;
    margin: -1px -1px;
    font-weight: bold;
    border-radius: 10px;
    transition: width ease 0.5s;
}
.no-quotes {
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: right;
    padding: 10px;
    margin: -1px -1px;
}
</style>