<template>
    <div class="quotes-component">
        <div class="heading-page">
            <img class="logo" alt="Vue logo" src="../../assets/logo.png">
            <h1>Quotes</h1>
        </div>
        <hr>
        <QuoteCounterDisplay :numOfQuotes="numOfQuotes" :maxQuotes="maxQuotes"/>
        <hr>
        <QuotesList :quotes="quotes" :removeQuote="removeQuote"/>
        <hr>
        <CreateQuote :addQuote="addQuote"/>
    </div>
</template>

<script>
import QuoteCounterDisplay from './QuoteCounterDisplay/QuoteCounterDisplay.vue';
import CreateQuote from './CreateQuote/CreateQuote.vue';
import QuotesList from './QuotesList/QuotesList.vue';

export default {
    components: {
        QuoteCounterDisplay,
        CreateQuote,
        QuotesList
    },
    data: () => ({
        quotes: [],
        numOfQuotes: 0,
        maxQuotes: 10
    }),
    methods: {
        addQuote(quote){
            if(quote){
                if(this.quotes.length < this.maxQuotes){
                    this.quotes.push(quote);
                } else {
                    alert('Reached quote limit');
                }
            } else {
                alert('Quote cannot be empty');
            }
        },
        removeQuote(index){
            this.quotes.splice(index,1);
        }
    },
    watch: {
        quotes(){
            this.numOfQuotes = this.quotes.length;
        }
    }
}
</script>

<style scoped>
.quotes-component {
    max-width: 1400px;
    margin: 0 auto;
}
.heading-page {
    display: flex;
    justify-content: center;
}
.logo {
    object-fit: contain;
    width: 50px;
    margin-right: 3px;
}
hr {
    border-bottom: 1px solid #dddddd;
    border-top: none;
    border-left: none;
    border-right: none;
}
</style>