<template>
    <div class="create-quote-component">
        <h2>Create Quote</h2>
        <textarea v-model="quote" name="quote" id="quote" rows="5"></textarea>
        <button class="create-quote" @click="createQuote(quote)">Create</button>
    </div>
</template>

<script>
export default {
    data: () => ({
        quote: ''
    }),
    props: [
        'addQuote'
    ],
    methods: {
        createQuote(quote){
            this.addQuote(quote);
            this.quote = '';
        }
    }
}
</script>

<style scoped>
.create-quote-component {
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 20px;
}
#quote {
    width: 100%;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    padding: 5px;
}
.create-quote {
    padding: 10px 60px;
    margin-top: 20px;
    border: none;
    background-color: #1289A7;
    color: #ffffff;
    font-weight: bold;
    border-radius: 13px;
    font-size: 1rem;
}
.create-quote:hover {
    cursor: pointer;
    background-color: #12CBC4;
}
</style>