<template>
    <div class="quotes-list-component">
        <h2>Quotes List</h2>
        <ul v-if="quotesExist()" class="quotes-list">
            <li class="quote-list-item" 
                v-for="(quote, index) in quotes" 
                :key="index"
                @click="removeQuote(index)">{{ quote }}</li>
        </ul>
        <p v-else class="no-quotes-information">No quotes listed.</p>
        <div v-if="quotesExist()" class="delete-information">Info: Click on a quote to delete it.</div>
    </div>
</template>

<script>
export default {
    props: [
        'quotes',
        'removeQuote'
    ],
    methods: {
        quotesExist(){
            return this.quotes.length > 0;
        }
    }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');

.quotes-list-component {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.quotes-list {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.quote-list-item {
    display: flex;
    font-family: 'Tangerine', cursive;
    justify-content: center;
    flex-basis: 18%;
    padding: 10px 15px 15px;
    box-sizing: border-box;
    margin: 0 1% 20px;
    border: 1px solid #dddddd;
    font-size: 2rem;
    line-height: 2.2rem;
}
.quote-list-item:hover {
    background-color: #ffcccc;
    cursor: pointer;
}
.no-quotes-information {
    margin: 0 0 20px;
}
.delete-information {
    padding: 10px 20px;
    text-align: center;
    background-color: #C5D2F5;
    color: #50398F;
    border: 1px dashed #50398F;
    margin: 5px 1% 0;
}
</style>